name: vscode-ext-test
on: [push, pull_request]

jobs:
    test:
        name: VS Code Test

        strategy:
            matrix:
                os: [ubuntu-latest]

        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout
              uses: actions/checkout@v2.1.0

            - name: Install Node.js
              uses: actions/setup-node@v2
              with:
                node-version: '14'
            - run: npm install

            - name: Run tests in VS Code
              uses: GabrielBB/xvfb-action@v1.0
              with:
                  run: npm test
